@model IEnumerable<SFAirBUdc.GUI.Models.Parameters.PropertyModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="fw-bold">Properties</h2>
<div class="flex justify-content-end mt-2 mb-3 w-100 ">
    <div class="w-auto d-flex justify-content-end align-items-center rounded-2  me-2">
        <a target="_blank" href="/Property/GenerateReport?format=PDF" class="btn btn-info mx-2 text-white px-2 shadow-sm fw-semibold"> <i class="bi bi-file-earmark-pdf-fill" style="color: white;" width="40" height="45"></i> Genear reporte</a>
        <a href="@Url.Action("Create")" class="btn btn-success text-center px-3 shadow-sm rounded-1 fw-semibold flex align-content-center">
            <i class="bi-plus-circle-fill"></i> Create
        </a>
    </div>
</div>
<div class="w-auto shadow-lg rounded-1 mt-2">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyOwner.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckinData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutData)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freezer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaundryService)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyOwner.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckinData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckoutData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Pets)
                        <!-- O utiliza un input de tipo checkbox -->
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.Freezer)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.LaundryService)
                </td>
                <td>
                    <div class="d-flex">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary me-1" title="Editar">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-warning me-1" title="Eliminar">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" title="Eliminar">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>

            </tr>
        }

    </table>
 </div>
