@model IEnumerable<SFAirBUdc.GUI.Models.Parameters.CustomerModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="fw-bold">Customers</h2>
<div class="flex justify-content-end mt-2 mb-3 w-100 ">
    <div class="w-auto d-flex justify-content-end align-items-center rounded-2 me-2">
        <a href="@Url.Action("Create")" class="btn btn-success text-center px-3 shadow-sm rounded-1 fw-semibold flex align-content-center">
            <i class="bi-plus-circle-fill"></i> Create
        </a>
    </div>
</div>
<div class="container shadow-lg rounded-1 mt-2">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cellphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cellphone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a> |
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-warning" title="Eliminar">
                        <i class="bi bi-eye"></i>
                    </a> |
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" title="Eliminar">
                        <i class="bi bi-trash"></i>
                    </a>

                </td>
            </tr>
        }

    </table>
</div>