@model IEnumerable<SFAirBUdc.GUI.Models.Parameters.CityModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="fw-bold">Cities</h2>
<div class="flex justify-content-end mt-2 mb-3 w-100 ">
    <div class="w-auto d-flex justify-content-end align-items-center rounded-2  me-2">
        <a target="_blank" href="/Property/GenerateReport?format=PDF" class="btn btn-info mx-2 text-white px-2 shadow-sm fw-semibold"> <i class="bi bi-file-earmark-pdf-fill"  style="color: white;" width="40" height="45" ></i> Genear reporte</a>
        <a href="@Url.Action("Create")" class="btn btn-success text-center px-3 shadow-sm rounded-1 fw-semibold flex align-content-center">
            <i class="bi-plus-circle-fill"></i> Create
        </a>
    </div>
</div>

<div class="container shadow-lg rounded-1 mt-2">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a> |
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-warning" title="Eliminar">
                        <i class="bi bi-eye"></i>
                    </a> |
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" title="Eliminar">
                        <i class="bi bi-trash"></i>
                    </a>

                </td>
            </tr>
        }

    </table>

</div>
