@model SFAirBUdc.GUI.Models.Parameters.CountryModel

@{
    ViewBag.Title = "Create";
}

<style>
    /* Estilos personalizados */
   /* .rounded-form {
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-group input[type="text"] {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color:red;
    }

    
    .custom-input {
        width: 50px;
    }*/
</style>

<h2>Create</h2>

<div class="rounded-form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="container">
        <div class="card shadow-lg p-4 mb-5 rounded mx-auto">
            <div class="card-header text-center text-info">
                <h3>Create New City</h3>
            </div>
            <div class="card-body w-100 d-flex justify-content-center flex-column">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="h-50 m-2 w-100">
                    <div class="form-group row justify-content-center w-100 container-fluid">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "flex-grow-1 control-label col-md-2 text-end mt-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-lg rounded-0" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row justify-content-center container-fluid ms-3  mt-2">
                        <button type="submit" class="btn btn-success mx-3 w-25">Create</button>
                    </div>
                </div>
            </div>

        </div>
        <a href="@Url.Action("Index")" class="ms-5 btn btn-secondary rounded-0 w-25" title="volver">
            <span class="bi bi-arrow-left"> Back</span>
        </a>
    </div>
    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
